<div style="background-color:#e6f2ff; padding:20px; border-radius:10px;">
<img style="float:left; margin-right:20px;" src='Figures/alinco.png' width="120"/>
<h1 style="color:#000047;">Tarea 1: Modificación de la librería de clase</h1>
<br style="clear:both"/>
</div>

<div style="border-left:4px solid #000047; padding:10px; margin-top:10px; background:#f5f5f5;">
<b>Objetivo:</b> Construir la librería de la clase con el objetivo de organizar código funciones y clases útilies durante el proceso del curso.
</div>

Tomando en cuenta la libreria creada en clase `HyAIA`, y la función de reporte de calidad de datos `dqr()`, realizar lo siguiente:

Modificar la función `dqr()` para tener lo siguiente:

**1.- Modificar la función dqr() para que en el reporte se agregue una columna que sea booleana boolena para representar si una columna es categórica ('Is_categorical') ('Is_categorical' True-->col categorica, False ---> numérica)**

In [9]:
import pandas as pd

def dqr(df):
    report = pd.DataFrame({
        "column": df.columns,
        "dtype": df.dtypes.values
    })

    report["Is_categorical"] = report["dtype"] == "object"

    categories_list = []
    for col in df.columns:
        if df[col].dtype == "object":
            uniques = df[col].unique()
            if len(uniques) <= 10:
                categories_list.append(list(uniques))
            else:
                categories_list.append("Too many categories")
        else:
            categories_list.append(None)

    report["Categories"] = categories_list

    report["max"] = df.apply(lambda x: x.max() if x.dtype != "object" else None)
    report["min"] = df.apply(lambda x: x.min() if x.dtype != "object" else None)
    report["mean"] = df.apply(lambda x: x.mean() if x.dtype != "object" else None)
    report["std"] = df.apply(lambda x: x.std() if x.dtype != "object" else None)

    return report

In [10]:
df = pd.DataFrame({
    "Edad": [20, 30, 25],
    "Ciudad": ["A", "B", "A"],
    "Datos": ["x", "y", "z"]
})

In [11]:
dqr(df)

   column   dtype  Is_categorical Categories  max  min  mean  std
0    Edad   int64           False       None  NaN  NaN   NaN  NaN
1  Ciudad  object            True     [A, B]  NaN  NaN   NaN  NaN
2   Datos  object            True  [x, y, z]  NaN  NaN   NaN  NaN

**2.- Modificar la función dqr() para que en el reporte se agregue una columna con las categorías de las columnas (valores unicos) que resulten ser categóricas (si las categorias > 10, no agregar esas categorias)**

In [13]:
def dqr(df):
    report = pd.DataFrame({
        "column": df.columns,
        "dtype": df.dtypes.values
    })

    report["Is_categorical"] = report["dtype"] == "object"

    # 2. Columna con categorías si hay <=10 valores únicos
    categories_list = []

    for col in df.columns:
        if df[col].dtype == "object":
            uniques = df[col].unique()
            if len(uniques) <= 10:
                categories_list.append(list(uniques))
            else:
                categories_list.append("Too many categories")
        else:
            categories_list.append(None)

    report["Categories"] = categories_list

    return report

In [14]:
dqr(df)

   column   dtype  Is_categorical Categories
0    Edad   int64           False       None
1  Ciudad  object            True     [A, B]
2   Datos  object            True  [x, y, z]

**3.- Aplicar el análisis estadístico de las columnas creadas (max, min, mean, std) solo para las columnas que sean numéricas ('Is_categorical' == False)**

In [15]:
def dqr(df):
    report = pd.DataFrame({
        "column": df.columns,
        "dtype": df.dtypes.values
    })

    report["Is_categorical"] = report["dtype"] == "object"

    # Categorías
    categories_list = []
    for col in df.columns:
        if df[col].dtype == "object":
            uniques = df[col].unique()
            if len(uniques) <= 10:
                categories_list.append(list(uniques))
            else:
                categories_list.append("Too many categories")
        else:
            categories_list.append(None)
    report["Categories"] = categories_list

    # Estadísticas SOLO para columnas numéricas
    report["max"] = df.apply(lambda x: x.max() if x.dtype != "object" else None)
    report["min"] = df.apply(lambda x: x.min() if x.dtype != "object" else None)
    report["mean"] = df.apply(lambda x: x.mean() if x.dtype != "object" else None)
    report["std"] = df.apply(lambda x: x.std() if x.dtype != "object" else None)

    return report

In [16]:
dqr(df)

   column   dtype  Is_categorical Categories  max  min  mean  std
0    Edad   int64           False       None  NaN  NaN   NaN  NaN
1  Ciudad  object            True     [A, B]  NaN  NaN   NaN  NaN
2   Datos  object            True  [x, y, z]  NaN  NaN   NaN  NaN